.boton{
	display: flex;
	align-items: center;
}
.clic{
	text-decoration: none;
	color: #2B8689;
	font-weight: 600;
	padding: 20px;
}
.boton .clic:hover{
	background: #22697E;
	color: white;
}

.contenedor{
	border-radius: 10px;
	border-color: blue;
	background-color: #DFDFDF;
	box-shadow: 3px 3px 3px 1px;
	padding: 10px;
}
.color{
	color: #2B8689;
	font-weight: 600;
	font-size: 25px;
}
.btn-per{
	border-radius: 20px;
	color: #2B8689;
	font-weight: 500;
	border-color: #23668C;
	border-width: 2px;
	margin-bottom: 20px;
}

.form-control{
	border-color: #23668C;
	border-width: 1.5px;
}
.form-control-lg{
	border-color: #23668C;
	border-width: 1.5px;
}

.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control:focus{
	border-color: #B70A0A;
	border-width: 1.5px;
	box-shadow: none;
}
.btn:focus{
	box-shadow: none;
}
.btn-per:hover{
	color: white;
	background-color: #23668C;
}
.boton:hover{
	cursor: pointer;
}


.spinner {
  margin: 5px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #2B8689;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}